@font-face {
  font-family: $font-family;
  src: url("/fonts/Poppins-Regular.otf");
}

@font-face {
  font-family: $font-family-black;
  src: url("/fonts/Poppins-Black.otf");
}

@font-face {
  font-family: $font-family-semibold;
  src: url("/fonts/Poppins-SemiBold.otf");
}
